<aside class="main-sidebar sidebar-light-primary elevation-1">
    <!-- Brand Logo -->
    <!-- <a href="index.html" class="brand-link">
      <img src="./images/TIBI.png" alt="TABIBI" style="width: 200px; height: 70px;">
    </a> -->
  
    <!-- Barre latérale -->
    <div class="sidebar">
        <!-- Panneau utilisateur de la barre latérale (facultatif) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="./dist/img/avatar2.png" class="img-circle elevation-2" alt="Image Utilisateur">
            </div>
            <div class="info">
                <a href="#" class="d-block">Ahmed</a>
            </div>
        </div>
  
        <!-- Formulaire de recherche dans la barre latérale -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Rechercher"
                    aria-label="Rechercher">
                <div class="input-group-append">
                    <button title="sidebar" class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
  
        <!-- Menu de la barre latérale -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
  
                <li class="nav-item">
                    <a href="/" class="nav-link {{ Request::is('/') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/stagaire" class="nav-link {{ Request::is('stagaire*') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                            Stagiaires
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./pages/sub_urgance/index.html"
                        class="nav-link {{ Request::is('pages/sub_urgance/*') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-calendar-times"></i>
                        <p>
                            Liste des absences
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link {{ Request::is('staff*') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Les formateurs
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/group" class="nav-link {{ Request::is('stagiaireGroups*') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Les groupes
                        </p>
                    </a>
                </li>
  <!-- 
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            utilisateurs
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./pages/users/index.html" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Tous les utilisateurs
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/doctors/index.html" class="nav-link">
                                <i class="nav-icon fas fa-user-md"></i>
                                <p>
                                    Médecins
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/patients/index.html" class="nav-link">
                                <i class="nav-icon fas fa-procedures"></i>
                                <p>
                                    Patients
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/patients/data.html" class="nav-link">
                                <i class="nav-icon fas fa-user-shield"></i>
                                <p>
                                    Administrateurs
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/patients/data.html" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    Assistant
                                </p>
                            </a>
                        </li>
                    </ul>
                </li> -->
  
                <!-- <li class="nav-header">EXEMPLES</li>
                <li class="nav-item">
                    <a href="calendar.html" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Rendez-vous
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
  </aside>
  