
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <%- include('partials/navbar') %>
            <%- include('partials/aside') %>

            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Stagiaires</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Stagiaires</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                <div class="col-auto ms-auto d-print-none">
                                                    <div class="d-flex justify-content-end">
                                                        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report" id="new-stagiaire-button">
                                                            New Stagiaire
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                        <th>CFE</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N de Groupe</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- @if($stagiaires->isEmpty())
                            <tr>
                                <td colspan="5" style="text-align:center">No stagiaire records found.</td>
                            </tr>
                        @else
                            @foreach($stagiaires as $stagiaire)
                                <tr>
                                    <td>{{ $stagiaire->CFE }}</td>
                                    <td>{{ $stagiaire->last_name }}</td>
                                    <td>{{ $stagiaire->first_name }}</td>
                                    @if ($stagiaire->group_id != 0)
                                        <td>group {{ $stagiaire->group_id }}</td>
                                    @else
                                        <td>No group</td>
                                    @endif
                                    <td>
                                        <a href="#" class="btn btn-success" onclick="populateUpdateModal('{{ $stagiaire->CFE }}', '{{ $stagiaire->first_name }}', '{{ $stagiaire->last_name }}', '{{ $stagiaire->group_id }}', '{{ $stagiaire->id }}')" data-bs-toggle="modal" data-bs-target="#modal-update">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <form action="{{ route('stagiaires.destroy', $stagiaire->id) }}" method="POST" class="d-inline">
                                            @csrf
                                            @method('DELETE')
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            @endforeach
                        @endif -->
                    </tbody>

                    <tfoot>
                        <tr>
                        <th>CFE</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N de Groupe</th>
                        <th>Action</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


    <!-- {{-- //insert modal: --}} -->
    <div id="modal-container">
        <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Stagiaire</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ route('stagiaires.store') }}" method="POST">
                        <!-- @csrf -->
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">CFE</label>
                                <input type="text" class="form-control" name="CFE" placeholder="CFE">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Group ID</label>
                                <input type="text" class="form-control" name="group_id" placeholder="Group ID">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Create new Stagiaire
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- {{-- //update modal: --}} -->
    <!-- <div id="modal-container">
        <div class="modal modal-blur fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Stagiaire</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @isset($stagiaire)
                    <form id="update-form" action="{{ route('stagiaires.update', $stagiaire->id) }}" method="POST">
                        @csrf
                        @method('PUT')
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">CFE</label>
                                <input type="text" class="form-control" name="CFE" placeholder="CFE" value="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name" value="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Group ID</label>
                                <input type="text" class="form-control" name="group_id" placeholder="Group ID" value="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Update Stagiaire
                            </button>
                        </div>
                    </form>
                    @else
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="text-align: center;">No stagiaires records found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @endisset
                </div>
            </div>
        </div>
    </div> -->






  <!-- /.content-wrapper -->
  <!-- <footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="http://elhassaniomar.c1.biz">elhassaniomar.c1.biz</a>.</strong>
    All rights reserved.
  </footer> -->


</div>
<!-- ./wrapper -->
<script>

    function populateUpdateModal(cfe, firstName, lastName, groupId, userId) {
  var updateForm = document.getElementById('update-form');
  var cfeInput = updateForm.querySelector('input[name="CFE"]');
  var firstNameInput = updateForm.querySelector('input[name="first_name"]');
  var lastNameInput = updateForm.querySelector('input[name="last_name"]');
  var groupIdInput = updateForm.querySelector('input[name="group_id"]');

  // Set the values of the input fields
  cfeInput.value = cfe;
  firstNameInput.value = firstName;
  lastNameInput.value = lastName;
  groupIdInput.value = groupId;

  // Set the form's action URL dynamically based on the selected user ID
  updateForm.action = "{{ route('stagiaires.update', ':id') }}".replace(':id', userId);
}

</script>



<%- include('partials/script') %>

</body>
</html>


